

.onpage {
  color: #969696;
  font-family:  Monospace;
  font-weight: 400; 
  list-style-type:none;
  width: 250px;
  height: 50px;
  border-collapse: collapse;
  border: none;
  margin: 0px;
  padding: 15px 0px 15px 20px;
  position: fixed;
  top: 300px; /*  drop-down menu position */
  right: 50px;
  background-color : #692134;
    background: -moz-linear-gradient(top, #692134 0%, #551A29 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#692134), 
   color-stop(100%,#551A29)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #692134 0%,#551A29 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #692134 0%,#551A29 100%); /* Opera 11.10+ */
  background: linear-gradient(to bottom, #692134 0%,#551A29 100%); /* W3C, IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#692134', 
   endColorstr='#551A29',GradientType=0 ); /* IE6-9 */
}

.onpage ul li {
    font-size: 2.2rem;
  }
.onpage ul a:link  {
  background: transparent; 
  font-size: 1.3rem;
  }

@media only screen and (min-device-width: 768px){
.onpage {
  font-weight: 500; 
  width: 420px;
  height: 30px;
  top: 196px; /*  drop-down menu position */
  left: 68%; 
  padding: 3px 0px 0px 30px;
  z-index: 1;
}
.onpage ul li {
    font-size: 1.1rem;
  }
.onpage ul a:link  {
  background: transparent; 
  font-size: 1rem;
  }}
  
.onpage a:link { color: #B4B4B4; text-decoration: none;}  
.onpage a:focus,
.onpage a:hover { color: #8A8A8A; text-decoration: underline;  }
.onpage a:visited { color: #8A8A8A; }

.onpage ul {
   list-style: none;
   padding: 0px;
  font-size: 1.4rem;
}


@media only screen and (max-device-width: 768px){ /*  MOBILE */
.onpage ul ul {
   display: none;
  left:-250%;
  right:auto;
  width: 500%; /* center dropdown list on page  */
  height: 15px;
  color: #DEDEDE;
}}

@media only screen and (min-device-width: 768px){ /*  DESKTOP */
.onpage ul ul {
   display: none;
   margin-left: -76px;   /* move drop down list to the left */
  width: 450px;
  height: 15px;
  color: #DEDEDE;
}}

.onpage ul ul li {
   display: block;
   width: 100%;
   height: 130px; /* spacing of menu items - combine with padding above */
   padding: 0px;  
   background-color : #692134;
    background: -moz-linear-gradient(top, #692134 0%, #551A29 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#692134), 
   color-stop(100%,#551A29)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #692134 0%,#551A29 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #692134 0%,#551A29 100%); /* Opera 11.10+ */
  background: linear-gradient(to bottom, #692134 0%,#551A29 100%); /* W3C, IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#692134', 
   endColorstr='#551A29',GradientType=0 ); /* IE6-9 */
}

@media only screen and (min-device-width: 768px){
.onpage ul ul li {
   width: 100%;
   height: 43px; /* spacing of menu items - combine with padding below */
   padding: 0px;
}}

.onpage ul ul li a, 
.onpage ul ul li a:link {
  text-align: left;
  height: 17px;
  padding: 43px 14px 75px;   /*  drop down link ht - click color */
  display: block;
  font-family: Monospace;
  font-size: 1.4em;
  text-decoration: none;
  }
  
@media only screen and (min-device-width: 768px){
.onpage ul ul li a, 
.onpage ul ul li a:link {
  padding: 10px 14px 20px; 
  font-size: 1em;
}}

.onpage ul ul li a:visited {
  background: #6A323F; 
  }

.onpage:hover > ul ul {
   position: absolute;
   display: block;
   height: 15px;
}


.onpage ul ul:onclick { /*  !!!!!!!!!!!!!!! */
  display:none;   
    transition-delay:1s;
}

.onpage ul ul li a, 
.onpage ul ul li a:link,
.onpage ul ul li a:visited  {
  color: #dedede;
}

.onpage ul ul li a:hover {
   background: #163F6C; 
  # border: 2px;
   #outline-color: #0000FF;
   color: #CECECE;
}

