<!DOCTYPE html>
<html lang="en">

<head>
    
    <link rel="stylesheet" href="/debian-install/css/1.css" media="all" type="text/css">
     <link rel="stylesheet" href="/debian-install/_css/mob.css" media="only screen and (max-device-width: 600px)" type="text/css">
   <link rel="stylesheet" href="/debian-install/_css/nav.css">
   <link rel="stylesheet" href="/debian-install/_css/onpage.css">
    <meta charset="UTF-8">
    <meta name="description" content="{{page.description}}" />
    <meta http-equiv="date" content="{{page.date |date: '%A, %d  %Y %H:%M:%S GMT'}}" />
    <meta name="robots" content="{{page.index}}INDEX,{{page.follow}}FOLLOW" />
    <title>{{ page.title }}</title>
    


</head>

<a href="{{site.baseurl}}/index.html" id="intro"><div class="ban"> </div></a>



<body id="{{ page.id }}">


  
